
    <!-- leadership Grid Section -->
    <section id="leadership">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 leadership-item">
                    <figure class="figure">
                        <img src="img/leadership/Cory_Harrington" class="figure-img img-fluid">
                        <figcaption class="figure-caption"><b>President:</b> Cory Harrington</figcaption>
                    </figure>
                    <figure class="figure">
                        <img src="img/leadership/Brandon_Mino" class="figure-img img-fluid">
                        <figcaption class="figure-caption"><b>Vice President:</b> Brandon Mino</figcaption>
                    </figure>
                    <figure class="figure">
                        <img src="img/leadership/Cory_Harrington" class="figure-img img-fluid">
                        <figcaption class="figure-caption"><b>Treasurer:</b> Nicole Nguyen</figcaption>
                    </figure>
                    <figure class="figure">
                        <img src="img/leadership/Cory_Harrington" class="figure-img img-fluid">
                        <figcaption class="figure-caption"><b>Secretary:</b> Jack Winkelman</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
