 <!-- tutorials Modals -->
<div class="tutorials-modal modal fade" id="tutorialsModal-Slack" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-times fa-3x" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                        <h2 class="even-column">Slack</h2>
                        <hr class="star-primary">
                        <img src="img/tutorials/Slack.png" class="img-responsive img-centered">
                        <ul class="list-inline">
                          <h3 class="even-column">Messages</h3>
                          <hr class="star-primary">
                            <li><p>How to create a post</p>
                                <p>How to send a private message</p></li>
                          <br>
                          <h3 class="even-column">Customization</h3>
                          <hr class="star-primary">
                            <li><p>How to change colors</p>
                                <p>How to add channel</p></li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
