
    <!-- tutorials Grid Section -->
    <section id="tutorials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="even-column"> Tutorials </h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for image in site.static_files %}
                    {% if image.path contains 'img/tutorials' %}
                        <div class="col-sm-4 tutorials-item">
                            <a href="#tutorialsModal-{{ image.name | replace: ".png", "" }}" class="tutorials-link" data-toggle="modal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <i class="fa fa-search-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img src="{{ image.path }}" class="img-responsive">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
