<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    <hr class="section-break">
    {% include about.html %}
    <hr class="section-break">
    {% include subgroups_grid.html %}
    <hr class="section-break">
    {% include projects_grid.html %}
    <hr class="section-break">
    {% include tutorials_grid.html %}
    <hr class="section-break">


    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}
    <hr class="section-break">

    {% include footer.html %}
    {% include subgroups_modals.html %}
    {% include projects_modals.html %}
    {% include tutorials_modals.html %}
    {% include js.html %}
    </body>
</html>
